.selfie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 90px;
    padding-bottom: 60px;
    width: 100%;
}

.video {
    border-radius: 100%;
}

.face {
    border-color: #2AC178;
}

.box {
    position: relative;
}

.background {
    position: absolute;
}

.title, .subtitle {
    text-align: center;
}

.title {
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 25px;
}
