.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: transparent;
    margin-top: 60px;
}
