.burger {
    padding: 0 0 0 16px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    background-color: #FAFAFA;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s linear;
    z-index: 6;
}

.burger.active {
    width: 32px;
    padding-left: 8px;
}

.burger.active .line {
    position: absolute;
    top: 15px;
    left: 8px;
}

.burger.active .line:first-child {
    transform: rotate(45deg);
}

.burger.active .line:nth-child(2) {
    transform: rotate(-45deg);
}

.burger.active .line:last-child {
    display: none;
}

.burger.active .text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
}

.line {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #444444;
    transition: transform 0.2s linear;
}

.line:not(:last-child) {
    margin-bottom: 3px;
}

.text {
    margin-top: 1px;
    transition: all 0.2s linear;
    font-weight: 600;
    font-size: 16px;
    color: #444444;
    margin-left: 8px;
}
