.app {
  height: 100%;
}

.video {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 6px solid #139EEF;
  border-radius: 12px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .video {
    width: 340px;
    height: 470px;
  }
}

@media (max-width: 425px) {
  .video {
    width: 290px;
    height: 420px;
  }
}
