@import './styles/reset.css';
@import './styles/fonts.css';

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #727272;
    color: #FAFAFA;
    font-family: 'TT_Norms_Pro_Regular', sans-serif;
    font-weight: 400;
}

.app {
    min-height: calc(100vh - 30px);
    padding: 30px 20px;
}

.mt-30 {
    margin-top: 30px !important;
}

.m-0 {
    margin: 0 !important;
}

.video {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border: 6px solid #139EEF;
    border-radius: 12px;
    margin: 0 auto;
}

.text {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #AAAAAA;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.swiper {
    width: 100%;
    height: 100% !important;
}

.swiper-wrapper {
    padding-bottom: 30px;
}

.swiper-slide {
    min-height: calc(100vh - 167px) !important;
}
div.swiper-pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 0 !important;
    background-color: #444444;
    padding: 15px 20px 20px;
}


span.swiper-pagination-bullet {
    max-width: 165px;
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: #777777;
}

span.swiper-pagination-bullet-active {
    background: #139EEF;
}

.title, .subtitle {
    text-align: center;
    color: #FAFAFA;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .video {
        width: 340px;
    }
}

@media (max-width: 425px) {
    .video {
        width: 290px;
    }
}
