.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    z-index: 2;
    transform: translateY(-150%);
    transition: transform 0.3s ease-in-out;
    background-color: #727272;
}

.menu.opened {
    transform: translateY(0);
}

.menu.opened .navbar {
    justify-content: flex-start;
    height: 100%;
}
