.items {
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.sub_item {
    font-feature-settings: 'liga' off;
    text-align: left;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.errorImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.margin:not(:last-child) {
    margin-bottom: 25px;
}

.title {
    margin-top: 25px;
    text-align: center;
}

.image {
    margin: 0 auto;
}

/*@media (max-width: 425px) {*/
/*    .sub_item {*/
/*        font-size: 12px;*/
/*        line-height: 16px;*/
/*    }*/
/*}*/
